/* Breakpoints: From xs to sm, from sm to md, from md to lg, after that simple desktop */
$breakpoints: (
    xs: 0,
    sm: 945px,
    md: 1280px,
    lg: 1440px,
    xl: 1920px,
);

/* Colors */
$base-0: #fff;
$base-50: #f6f6f6;
$base-150: #e4e4e4;
$base-200: #d1d2d2;
$base-225: #d9d9d9;
$base-350: #a7a7a7;
$base-400: #757777;
$base-800: #0f1111;
$blue: #38adc2;

/* Fonts */
$base-font: "Ruberoid", sans-serif;
$font-size: 1.4rem;
$body-color: #0f1111;
$body-bg: #fff;

/* Transitions */
$default-transition: .3s ease;

/* vh variables for mobile devices */
:root {
    --vh: 1vh;
    --vh-full-page: 100vh;
}

