/*
 ** Данный файл содержит дефолтные стили, дополняющие normalize.css.
 ** Крайне не рекомендуется вносить здесь какие либо изменения.
 */

@use "../shared/_variables.scss" as *;
@use "../shared/_functions.scss" as *;
@use "../shared/_mixins.scss" as *;

* {
    box-sizing: border-box;
}

/* stylelint-disable */
html,
body,
#__nuxt,
#__layout {
    width: 100%;
    height: 100%;
}

/* stylelint-enable */

html {
    height: 100%;
    min-height: 1vw;
    font-size: 10px;

    @include respond-to(md) {
        font-size: .6944vw;
    }

    @include respond-to(sm) {
        font-size: 10px;
    }
}

body {
    background-color: $body-bg;
    font-family: $base-font;
    font-size: $font-size;
    color: $body-color;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

li {
    list-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button {
    padding: 0;
    border: none;
    background: transparent;
    outline: none;
    color: inherit;
}

input {
    outline: none;

    &[type="number"]::-webkit-inner-spin-button,
    &[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &[type="number"] {
        -moz-appearance: textfield;
        font-size: 1.6rem;
    }

    &[type="time"]::-webkit-clear-button {
        display: none;
    }

    &::-ms-clear {
        display: none;
    }
}

textarea {
    resize: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
    font-weight: normal;
}

address {
    font-style: normal;
}

details summary::-webkit-details-marker {
    display: none;
}

details > summary {
    list-style: none;
}

