@use '@/styles/shared/_variables.scss' as *;
@use '@/styles/shared/_mixins.scss' as *;

.facade-card {
  padding: 1.8rem;
  border-radius: 16px;
  background-color: $base-0;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: visible;

  @include respond-to(sm) {
    padding: 1.4rem;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: .2rem;

    h2 {
      margin: 0;
      font-size: 1.5rem;
    }

    p {
      margin: 0;
      color: $base-400;
      font-size: 1.3rem;
    }
  }
}

.facade-card--wide {
  grid-column: span 2;

  @include respond-to(lg) {
    grid-column: span 1;
  }
}

